html {
  width: 100vw;
  height: 100vh;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.5rem;
  line-height: 1.65;
}
.headings {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
}

.blackbackground {
  background-color: black;
  height
}

.backgroundimage {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding: 10%;
  margin-bottom: 10%;
}

.first-title{font-size: 165%;
margin-bottom: 10%;}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5%;
  margin-top: 10%;
}
